

<body class="container bg-light">

	<div class="row">

	  	<div class="col-sm-1"></div>

		<div class="col-sm-3 well" style="border-width: 1px; border-style: solid; border-color: black">

		  <h5><%= link_to "Show all of my watches", watches_path, :class => "load_watches" %></h5>
		  <h5><%= link_to "Show the maker of most of my watches", most_maker_path(current_user) %></h5>
		  <h5><%= link_to "Show the 10 newest watches", newest_watches_path(current_user) %></h5>
		  <h5>[Click on a watch to view it!]</h5>
		  <h5><%= link_to "Add a new watch", new_watch_path %></h5>
		  <%= link_to image_tag("http://www.wristcritic.com/wp-content/uploads/2014/09/popular-invicta-watches-2.png", width: 250), root_path %>
		</div>

		<div class="col-sm-8">	

		    <div class="watches">
		      <ul>
		      </ul>
		    </div>

		    <%if @watches_for_display && @watches_for_display > 18 %>
		      <div style="margin-left: 90px;">
		      	<%= will_paginate @watches, renderer: BootstrapPagination::Rails %>
		      </div>
		    <% end %>			

			<div class="row">
			    <div class="col-sm-8 text-center">

			      <%if @watches_for_display && @watches_for_display > 18 %>

			        <%= form_tag rows_path(current_user), method: :get do %>
			          <b class="text-success">Watches on a page:</b> <input  type="number" id="rows" name="rows" min="1" max="50">
			          <button class="btn btn-primary btn btn-sm">submit</button>
			        <%end%>

			      <%end%>
			    </div>
			</div>				
		</div>
	</div>
</body>