
<div class="col-sm-8">

	<div>
	  <% if watches.size > 0 %>

	    <% if session[:newest_watches] == "yes" %>
			     <h4 style="text-indent: 9em;">Newest Watches [<%= watches_for_display %>]</h4>
			     <% session[:newest_watches] = "no" %>
			<% else %>
			     <h4 style="text-indent: 9em;">My Watches [<%= watches_for_display %>]</h4>
			<% end %>

	      <div>
	        <ul>
	          <% watches.each do |watch| %>
	            <li class="text-success"><%= watch.watch_maker %>: <b><%= link_to watch.watch_name, watch_path(watch) %></b></li>
	          <%end%>
	        </ul>
	      </div>

			<%if watches_for_display && watches_for_display > 18 %>
		      <div style="margin-left: 90px;">
		      	<%= will_paginate watches, renderer: BootstrapPagination::Rails %>
		      </div>
		    <% end %>

	  <%else%>

	    <h4 class="text-danger"><b>There are currently no watches to display!</b></h4>

	  <%end%>
	</div>

	<div class="row">
	    <div class="col-sm-8 text-center">

	      <%if watches_for_display && watches_for_display > 18 %>

	        <%= form_tag rows_path(current_user), method: :get do %>
	          <b class="text-success">Watches on a page:</b> <input  type="number" id="rows" name="rows" min="1" max="50">
	          <button class="btn btn-primary btn btn-sm">submit</button>
	        <%end%>

	      <%end%>
	    </div>
  </div>

</div>
