
<%= form_for this_watch, :html => {:class => "form-horizontal center", multipart: true} do |f| %>

  <body class="container bg-light">
    <div class="row">
      <div class="col-sm-10">
        <div align="center">

          <% if session[:watch_errors] && session[:watch_errors].any? %>
            <div class="container alert alert-danger" role="main" >
              <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    <div id="error_explanation">
                        <% session[:watch_errors].each do |message| %>
                          <p><%= message %></p>
                        <% end %>
                        <% session[:watch_errors] = nil %>
                    </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if params[:action] == "edit" || params[:action] == "update"%>
            <h3 class="text-success">Edit this Watch</h3>
          <% else %>
            <h3 class="text-success">New Watch</h3>
          <% end %>

          <%= f.label :watch_name %><br>
          <%= f.text_field :watch_name %><br>
          <%= f.label :watch_maker %><br>
          <%= f.text_field :watch_maker %><br>
          <%= f.label :movement %><br>
          <%= f.text_field :movement %><br>
          <%= f.label :band %><br>
          <%= f.text_field :band %><br>
          <%= f.label :model_number %><br>
          <%= f.text_field :model_number %><br>
          <%= f.label :water_resistance %><br>
          <%= f.text_field :water_resistance %><br>
          <%= f.label :date_bought %><br>
          <%= f.text_field :date_bought %><br>
          <%= f.label :watch_image %><br>
          <%= f.file_field :watch_image %><br>
          
          <!-- This partial form is hidden (saved for future use) -->
          <!-- but needs to be processed by the application -->
          <%= render partial: "complications/new_update_comp_form", locals: {field: f} %>

        </div>
      </div>
    </div>
  </body>

<% end %>
