
	<h5><b class="text-success">Name:</b> <%= watch.watch_name %></h5>
	<h5><b class="text-success">Maker:</b> <%= watch.watch_maker %></h5>
	<h5><b class="text-success">Movement:</b> <%= watch.movement %></h5>
	<h5><b class="text-success">Band:</b> <%= watch.band %></h5>
	<h5><b class="text-success">Model Number:</b> <%= watch.model_number %></h5>
	<h5><b class="text-success">Water Resistance:</b> <%= watch.water_resistance %></h5>
	<h5><b class="text-success">Date Bought:</b> <%= watch.date_bought %></h5>
