
<div style="text-indent: 15em;">

	<h4>One of my watches</h4>
	<h5><b class="text-success">Name:</b> <%=@watch.name%></h5>
	<h5><b class="text-success">Maker:</b> <%=@watch.maker%></h5>
	<h5><b class="text-success">Movement:</b> <%=@watch.movement%></h5>
	<h5><b class="text-success">Band:</b> <%=@watch.band%></h5>
	<h5><b class="text-success">Model Number:</b> <%=@watch.model_number%></h5>
	<h5><b class="text-success">Water Resistance:</b> <%=@watch.water_resistance%></h5>
	<h5><b class="text-success">Date Bought:</b> <%=@watch.date_bought%></h5>

	<br>
	
	<% if session[:show_complications] %>

		<h4>Complications</h4>
		
			<% if !watch.complications.empty? %>
			
				<h5 class="text-success">(Click one to see a description)</h5>

				<% watch.complications.each do |complication| %>
		
					<h5 style="text-indent: 15em;"><b><%= link_to complication.name, description_path(watch, watch_id: watch.id, comp_name: complication.name, comp_id: complication.id) %></b></h5>

				<% end %>

			<% else %>

				<h5 class="text-danger">There are no complications to display!</h5>

			<% end %>

		<% session[:show_complications] = nil %>
			
	<% end %>

</div>
