<div class="col-sm-1">
</div>

<div class="col-sm-2 well" style="border-width: 1px; border-style: solid; border-color: black">

  	<h5><%= link_to "Show Complications", watch_complications_path(watch) %></h5>
	<h5><%= link_to "Edit this Watch", edit_watch_path %></h5>
	<h5><%= link_to "Add a new watch", new_watch_path %></h5>
	<h5><%= link_to "Show all of my watches", watches_path %></h5>
	<h5><%= link_to 'Delete this watch', watch_path, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
	
</div>
