
<div class="col-sm-8">

	<div>
	  <% if @watches.size > 0 %>

			<% if session[:most_maker] == "yes" %>
		    	<h4 style="text-indent: 4em;">Maker Of Most Of My Watches [<%= @watches_for_display %>]</h4>
		    	<% session[:most_maker] = "no" %>
		    <% elsif %>
				<% session[:newest_watches] == "yes" %>
		    	<h4 style="text-indent: 4em;">My 10 Newest Watches</h4>
		    	<% session[:newest_watches] = "no" %>
		    <% else %>
		    	<h4 style="text-indent: 4em;">My Watches (All) [<%= @watches_for_display %>]</h4>
		    <% end %>
	
	      	<div class="watches"> 
	          	<%= render "load_watches" %>
	      	</div>

	      	<div class="watches_paginate">
	         	<%= render "paginate" %>
	        </div>
		 
		 <%else%>	
		    <h4 class="text-danger"><b>There are currently no watches to display!</b></h4>
		<%end%>
	</div>

	<div class="row">
	    <div class="col-sm-8 text-center">

	      <%if @watches_for_display && @watches_for_display > 18 %>

	        <%= form_tag rows_path(current_user), method: :get do %>
	          <b class="text-success">Watches on a page:</b> <input  type="number" id="rows" name="rows" min="1" max="50">
	          <button class="btn btn-primary btn btn-sm">submit</button>
	        <%end%>

	      <%end%>
	    </div>
  </div>

</div>