<!-- Individual watch links -->
<div class="col-sm-2">
</div>

<div class="col-sm-3 well" style="border-width: 1px; border-style: solid; border-color: black">

  	<h5><%= link_to "Show watch details", watch_path(watch), :class => "show_watch" %></h5>
  	<div id="complications-container">
	  	<h5><%= link_to "Show complications", watch_complications_path(watch), :class => "complications_link", :id => "load_complications" %></h5>
	  	<h5><%= link_to "Add complications", watch_complications_path(watch), :class => "complications_link", :id => "complications_form" %></h5>
	</div>  	
	<h5><%= link_to "Edit this watch", edit_watch_path %></h5>
	<h5><%= link_to 'Delete this watch', watch_path, method: :delete, data: { confirm: 'Are you sure you want to delete this watch?' } %></h5>
	<h5><%= link_to "Add a new watch", new_watch_path %></h5>
	<h5><a href="javascript:window.location='/'" >Show all of my watches</a></h5>
	<!-- Contains the watch image or a default image if no image was selected -->
	<!-- when the watch was created or edited -->
	<%= image_tag watch.watch_image.url(:original) %>

</div>

