
<body class="container bg-light">

  	<div class="row"> 

  		<div class="show_links">
  			<%= render partial: "show_links", locals: {watch: @watch} %> 
		</div>

    	<div class="col-sm-7"> 
			
    		<div class="col-sm-12" style="margin-left: 20px;">
				
    			<h5><b class="text-success">Watch Name: </b><%= @watch.watch_name %></h5>

				<div class="load_watch">	
				</div>

				<div class="complications">
				</div>

			</div>

    	</div>
    	
  	</div>

	<script id="watch-template" type="text/x-handlebars-template">

		<h5><b class="text-success">Maker:</b> {{watch_maker}} </h5>
		<h5><b class="text-success">Movement:</b> {{movement}} </h5>
		<h5><b class="text-success">Band:</b> {{band}} </h5>
		<h5><b class="text-success">Model Number:</b> {{model_number}} </h5>
		<h5><b class="text-success">Water Resistance:</b> {{water_resistance}} </h5>
		<h5><b class="text-success">Date Bought:</b> {{date_bought}} </h5>

	</script>
	<script id="complications" type="text/x-handlebars-template">
	
		<h4>Complications ({{complications.length}})</h4>
		
		{{#if complications}}

			{{#gt complications.length 1}}
				<% watch_complications = Watch.sort_complications(@watch) %>	
			{{else}}	
				<% watch_complications = @watch.complications %>
			{{/gt}}

			<h5 class="text-success">(Click any to see a description)</h5>	

			<% watch_complications.each do |complication| %>
		
				<h5><b><%= link_to complication.complication_name, description_path(@watch, watch_id: @watch.id, comp_name: complication.complication_name, comp_id: complication.id) %></b></h5>

			<% end %>
		
		{{else}}
			<h5 class="text-danger">There are no complications to display!</h5>
		{{/if}}


		<%= form_for @watch, :html => {:class => "form-horizontal center", :id => "new_complication"} do |f| %>

			<%= render partial: "complications/form", locals: {field: f} %>

			<%= f.submit %>

        <% end %>  	

	</script>

 </body>




