
<body class="container bg-light">

  	<div class="row"> 

  		<div class="show_links">
  			<%= render partial: "show_links", locals: {watch: @watch} %> 
		</div>

    	<div class="col-sm-7"> 
			
    		<div class="col-sm-12" style="margin-left: 20px;">
				
				<h4><b>One of My Watches</b></h4>
    			<h5><b class="text-success">Watch Name: </b><%= @watch.watch_name %></h5>

				<div class="load_watch">	
				</div>
			
				<div class="complications">
					<% if session[:display_complications] == "yes" %> 
					<!-- set when complication description deleted -->
						<%= render "complications/load_complications" %>
    				<% end %>
				</div>

				<div class="add_complications_form">
					<% if session[:display_complications] == "yes" %>
					<!-- set when complication description deleted -->
						<%= render "complications/add_complications_form" %>
						<% session[:display_complications] = "no" %>
    				<% end %>
		    	</div>

			</div>

    	</div>
    	
  	</div>

	<script id="watch-template" type="text/x-handlebars-template">

		<h5><b class="text-success">Maker:</b> {{watch_maker}} </h5>
		<h5><b class="text-success">Movement:</b> {{movement}} </h5>
		<h5><b class="text-success">Band:</b> {{band}} </h5>
		<h5><b class="text-success">Model Number:</b> {{model_number}} </h5>
		<h5><b class="text-success">Water Resistance:</b> {{water_resistance}} </h5>
		<h5><b class="text-success">Date Bought:</b> {{date_bought}} </h5>

	</script>
	<script id="complications" type="text/x-handlebars-template">
	
		<h4>Complications ({{complications.length}})</h4>
		
		{{#if complications}}

			<h5 class="text-success">(Click any to see a description)</h5>

			{{#each complications}}

				<h5><b><a href="/comlications/<%= @watch.id %>/description?comp_id={{id}}&watch_id=<%= @watch.id %>"> {{complication_name}} </a></b></h5>

			{{/each}}
		
		{{else}}
			<h5 class="text-danger">There are no complications to display!</h5>
		{{/if}} 	

	</script>

 </body>
